<form autocomplete="off" class='w-50 m-auto' [formGroup]='form' (ngSubmit)='submit()'>
  <mat-form-field>
    <label>Old Password:</label>
    <input
      formControlName='oldPassword'
      type='password'
      matInput>
  </mat-form-field>

  <mat-form-field>
    <label>New Password:</label>
    <input
      formControlName='newPassword'
      type='password'
      matInput>
  </mat-form-field>

  <mat-form-field>
    <label>Confirm new password:</label>
    <input
      formControlName='confirmNewPassword'
      type='password'
      matInput>
  </mat-form-field>
  <div class='my-2 text-danger' *ngIf='nonMatchingPasswords'>
    Passswords didn't match!
  </div>

  <button [disabled]='form.pristine || form.invalid'
          type='submit'
          mat-stroked-button>
    Update!
  </button>
</form>
