<ng-container *ngrxLet='dataSource.loading$ as loading'>

  <h2 *ngIf='dataSource.count() === 0 && loading === false'>No pending surveys!</h2>

  <div [class.hidden]='!(dataSource.count() > 0 && loading === false)'>
    <div class='mat-elevation-z8'>

      <table mat-table [dataSource]='dataSource'>

        <ng-container matColumnDef='rowNumber'>
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef='let element; let i = index'> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef='surveyTitle'>
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef='let element'>
            <a [routerLink]='getSurveyLink(element.surveyNaturalKey)'>{{element.surveyTitle}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef='surveyDescription'>
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef='let element'> {{element.surveyDescription }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
        <tr mat-row *matRowDef='let row; columns: displayedColumns;'></tr>
      </table>

      <mat-paginator [length]='length$ | async'
                     [pageSize]='5'
                     [pageSizeOptions]='[5, 10, 20]' showFirstLastButtons></mat-paginator>
    </div>
  </div>
</ng-container>
