hr.dotted {
  border-top: 1px dotted gray;
  margin-top: 5px;
}

.type-preview {
  :hover {
    cursor: default;
    user-select: none;
  }

  :first-child {
    color: darkgray;
  }
}

mat-icon {
  user-select: none;
  color: darkgray;
}

.remove {
  cursor: pointer;
}

.handle:hover {
  cursor: grabbing;
}
