<nav class='navbar navbar-expand-lg navbar-dark bg-dark mb-2'>
  <a class='navbar-brand' routerLink='/'>Survey app</a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup'
          aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div *ngIf='user$ | async' class='collapse navbar-collapse' id='navbarNavAltMarkup'>
    <div class='navbar-nav'>
      <a class='nav-link active' routerLink='/'>My surveys <span class='sr-only'>(current)</span></a>
      <a class='nav-link' href='#'>Taken surveys</a>
      <a class='nav-link' href='#'>My profile</a>
    </div>
  </div>
  <div *ngIf='user$ | async as user'>
    Hello {{user}}!
    <button mat-stroked-button (click)='logout()'>Logout</button>
  </div>
</nav>
