<h1>Test create page</h1>

<form [formGroup]='form'>

  <div>
    <input formControlName='title'
           (change)='onValueUpdate()'
           placeholder='Survey Title'
           type='text'>
  </div>

  <div>
    <input formControlName='description'
           (change)='onValueUpdate()'
           placeholder='Survey Description'
           type='text'>
  </div>

  <div>
    <label>
      Can take anonymously ?
      <input formControlName='canTakeAnonymously'
             (change)='onValueUpdate()'
             type='checkbox'>
    </label>
  </div>
</form>
