<form autocomplete="off" [formGroup]='form'>
  <mat-card>
    <div>
      <mat-form-field>
        <mat-label>Survey Title</mat-label>
        <input class='title'
               matInput
               formControlName='title'
               (change)='onValueUpdate()'
               onClick='this.setSelectionRange(0, this.value.length)'
               placeholder='Survey Title'
               type='text'>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Survey Description</mat-label>
        <textarea matInput formControlName='description'
                  (change)='onValueUpdate()'
                  placeholder='Survey Description'></textarea>
      </mat-form-field>
    </div>
  </mat-card>
</form>
