<div class='d-flex justify-content-between'>
  <div></div>
  <button mat-raised-button (click)='openInvitationsDialog()'>Send!</button>
</div>
<mat-tab-group animationDuration='0ms'>
  <mat-tab label='Questions'>
    <ng-template matTabContent>
      <app-survey-create></app-survey-create>
      <survey-question-create></survey-question-create>
    </ng-template>
  </mat-tab>
  <mat-tab label='Responses'>
    <ng-template matTabContent>
      <app-survey-responses *ngIf='surveyId'
                            [surveyId]='surveyId'></app-survey-responses>
    </ng-template>
  </mat-tab>
</mat-tab-group>
