<div *ngIf='surveyInstances$ | async as surveyInstances'>
  <mat-tab-group>
    <mat-tab label='Summary'>
      <ng-template matTabContent>
        <app-survey-responses-summary
          [surveyInstances]='surveyInstances'></app-survey-responses-summary>
      </ng-template>
    </mat-tab>
    <mat-tab label='Individual'>
      <ng-template matTabContent>
        <app-survey-responses-individual
          [surveyInstances]='surveyInstances'></app-survey-responses-individual>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
